<footer class="container-fluid bg-yellow p-0">
    <div class="container p-lg-0">
        <div class="d-flex flex-column-reverse flex-lg-row justify-content-between align-items-start align-items-lg-center py-lg-4 py-2">
            <div class="text-blue">
                <span>Todos os direitos reservados - Copyright © RSM Bloqueador.</span>
            </div>
            <ul class="mb-lg-0 mb-2">
                <li class="ml-0">
                    <a href="mailto:rsmbloqueador@gmail.com" alt="rsmbloqueador@gmail.com" title="rsmbloqueador@gmail.com">
                        <img src="https://www.rsmbloqueador.com.br/assets/images/icone_email.png">
                    </a>
                </li>
                <li>
                    <a href="" alt="Facebook" title="Facebook" target="_blank">
                        <img src="https://www.rsmbloqueador.com.br/assets/images/icone_facebook.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/channel/UC65tHjkcRNIj7L4PqVdfWnA" alt="YouTube" title="YouTube" target="_blank">
                        <img src="https://www.rsmbloqueador.com.br/assets/images/icone_youtube.png">
                    </a>
                </li>
            </ul>
            <div class="phone">
                <span>(21) 99825-9550</span>
                <span>(21) 99639-6999</span>
                <p>*Atendimento em domicílio</p>
            </div>
        </div>
    </div>
</footer>