<div class="row">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h5 class="text-uppercase text-blue font-weight-normal my-0">Veículos</h5>
      <button class="btn btn-outline-primary" type="button" (click)="salvarVeiculo()">
        <i class="ta-plus-circle fs-24 align-middle align-middle"></i>
        Novo Veículo
      </button>
    </div>
  </div>
  
  <div class="row py-4">
    <div class="col-12">
      <ng-container *ngIf="!loading; else loadingTpl">
        <app-table
          [cols]="tableCols" 
          [data]="veiculos.data" 
          [buttons]="actions"
          (action)="itemAction($event)">
        </app-table>
      </ng-container>
      <ng-container *ngTemplateOutlet="paginacao"></ng-container>
    </div>
  </div>
  
  <ng-template #loadingTpl>
    <h6 class="text-center py-3">
      Carregando veículos
    </h6>
  </ng-template>
  <ng-template #paginacao>
    <div class="d-flex justify-content-center" *ngIf="veiculos">
      <ngb-pagination [(page)]="veiculos.page" 
                      [pageSize]="veiculos.perPage"
                      [collectionSize]="veiculos.totalItems" 
                      (pageChange)="gotoPage($event)"
                      [ellipses]="true" 
                      [rotate]="true" 
                      [maxSize]="5">
      </ngb-pagination>
    </div>
  </ng-template>
  