<header class="container-fluid bg-yellow py-2">
    <nav class="container navbar navbar-expand-lg navbar-light p-0">
        <div class="logo">
            <a href="*">
                <img src="/assets/logo.png">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto mt-md-0 mt-3">
                <li class="nav-item active" alt="Início" title="Início">
                    <a class="nav-link" href="#">Início</a>
                </li>
                <li class="nav-item" alt="Início" title="Início">
                    <a class="nav-link" routerLink="login">Login Dashboard</a>
                </li>
                <li class="nav-item" alt="Logar na Plataforma" title="Logar na Plataforma">
                    <a class="nav-link" href="http://demo.rsmbloqueador.com.br:8082/">Logar na Plataforma</a>
                </li>
                <li class="nav-item d-none" alt="Galeria de Fotos" title="Galeria de Fotos">
                    <a class="nav-link navigation" href="#galeria-de-fotos">Galeria de Fotos</a>
                </li>
                <li data-toggle="modal" data-target="#download-app" class="nav-item close-navbar" alt="Download App" title="Download App">
                    <a class="nav-link" href="#">Download App</a>
                </li>
                <li data-toggle="modal" data-target="#contact-phone" class="nav-item close-navbar" alt="Contato" title="Contato">
                    <a class="nav-link" href="#">Contato</a>
                </li>
            </ul>
        </div>
    </nav>
</header>